@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');

@media screen and (orientation: landscape) {
    .table-portrait {
        display: none;
    }
}

@media screen and (orientation: portrait) {
    .table-landscape {
       display: none;
    }
} 

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

html {
    font-family: 'Arimo';
    background: #3A4965;
    text-transform: uppercase;
}

body {
   margin: 0;
}

.table-landscape {
    border-collapse: collapse;
    width: 1143px;
    height: 684px;
    background: #FAFAFA;
    margin: 25px auto;
    text-align: center;
    color: #484848;
}

.table-landscape th {
    font-size: 30px;
    line-height: 28px;
    padding: 0;   
}

.table-landscape th:nth-child(1) {
    color: #484848;
}

.table-landscape th span {
    font-size: 18px;
}

.color-green {
    background: #89C331;
    color: white;
}

.color-pink {
    background: #F04A56;
    color: white;
}

.color-blue {
    background: #20807C;
    color: white;
}

.table-landscape td {
    font-size: 16px;
    line-height: 28px;
    color: #484848;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.27);
    padding: 0;
    margin: 0;
}

.landscape-price-height {
    height: 89px;
}

.landscape-price {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
}

.landscape-price span {
    font-size: 60px;
}

.landscape-price ul {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.storage-logo::before {
    content: url(/img/storage.svg);
    padding-right: 4px;
    width: 21px;
    height: 26px;
}

.bandwidth-logo::before {
    content: url(/img/bandwidth.svg);
    padding-right: 4px;
}

.email-logo::before {
    content: url(/img/email.svg);
    padding-right: 4px;
}

.support-logo::before {
    content: url(/img/support.svg);
    padding-right: 4px;
}

.products-logo::before {
    content: url(/img/products.svg);
    padding-right: 4px;
}

.users-logo::before {
    content: url(/img/users.svg);
    padding-right: 4px;
}

.table-landscape tr:nth-child(2n+1):not(:first-child) {
    background: #F2F2F2;
}

.table-landscape tr:nth-child(even):not(:nth-child(2)) {
    background-color: #E3E3E3;
}

.landscape-all-btn {
    height: 100px;
}

.landscape-all-btn a {
    padding: 17px 60px;
    border-radius: 5px;
    color: #FFFFFF;
}

.btn-contact-us {
    background: #484848;
}

.btn-item1 {
    background: #DDDDDD;
}

.btn-item2 {
    background: #EEEEEE;
}

.btn-item3 {
    background: #F4F4F4;
}

.btn-item4 {
    background: #EEEEEE;
}

.table-portrait {
    width: 1143px;
    height: 612px;
    background: #FAFAFA;
    margin: 25px auto;
    text-align: center;
    border-collapse: collapse;
    color: #484848;
}

.table-portrait th {
    height: 115px;
    width: 160px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.27);
    border-bottom: 15px solid #3A4965;
}
.table-portrait th:not(:first-child) {
    font-size: 24px;
}

.table-portrait th:first-child {
    font-size: 20px;
}

.table-portrait th span {
    font-size: 14px;
}

.table-portrait th:first-child {
    width: 201px;
}

.table-portrait td {
    height: 169px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.27);
}

.portrait-price {
    display: inline-flex;
    align-items: center;
    color: white;
}

.portrait-price li:first-child {
    font-size: 36px;
}

.portrait-price li:nth-child(2) {
    font-size: 18px;
}

.portrait-price span {
    font-size: 14px;
}

.portrait-price ul {
    display: inline-flex;
}

.table-portrait p {
    font-size: 24px;
}

.portrait-price span {
    padding-left: 5px;
}

.portrait-btn {
    padding: 13px 35px;
    border-radius: 5px;
    color: #FFFFFF;
}

.d-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.table-portrait td:nth-child(even),
.table-portrait th:nth-child(even)
{
    background-color: #E3E3E3;
}

.table-portrait td:nth-child(2n+1):not(:first-child),
.table-portrait th:nth-child(2n+1):not(:first-child) {
    background: #F2F2F2;
}